<div>
    <div>
        <button (click)="addEmployees()">ADD Emp</button>
        <!-- <app-employee-form [editData]="editData"></app-employee-form> -->
    </div>
    <div>
        <h4>Employee Details</h4>
        <table>
            <thead>
                <th>ID</th>
                <th>Employee Name</th>
                <th>Department</th>
                <th>Actions</th>
            </thead>
            <tbody>
                <tr *ngFor="let item of employeeList;let i=index">
                    <td>
                        {{i+1}}
                    </td>
                    <td>
                        {{item.employeeName}}
                    </td>
                    <td>
                        {{item.Department}}
                    </td>
                    <td>
                        <button (click)="onEdit(item)">Edit</button>
                        <button (click)="delete(i)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>